@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using AuthBroker.Model
@inject Model.VehicleStore VHS

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (vehicles == null) {
        <p><em>Loading...</em></p>
} else {
        <button class="button" @onclick="@Refresh">
        Refresh
        </button>

        <button class="button" @onclick="@Init">
            Reinit
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th>VIN</th>
                    <th>Fuel</th>
                    <th>Type</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var veh in vehicles) {
                        <tr>
                                    <td>@veh.VehicleIdentificationNumber</td>
                                    <td>@veh.Fuel</td>
                                    <td>@veh.Type</td>
                                    <td>@veh.Model</td>
                        </tr>
            }
            </tbody>
        </table>
}

@code {
    private List<Vehicle>? vehicles;

    protected async Task Refresh() {
        vehicles = await VHS.GetListAsync();
    }

    protected async Task Init() {
        await VHS.InitAsync();
        await Refresh();
    }

    protected override async Task OnInitializedAsync() {
        await Refresh();
    }
}
